.efro-setting-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.no-line{
    border: none;
}
 .full-width {
    flex: 1;

}



.efro-label {
    margin-right: 12px;
}

.efro-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.efro-select-input {
    
    margin-right: 12px;
}

.efro-footer-actions {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-top: 12px;
    gap:10px;
}

.efro-footer-actions p{
color: #FFFFFF80;
font-size: small;
}

.efro-setting-field input[type="date"],
.efro-setting-field input[type="datetime-local"] {
    text-align: end;
}

.spacer {
    width: 100%;
}

.end-div{
    display: flex;
    justify-content: flex-end;
    padding: 40px;
}

.end-div button{
    display: inline-block;
}

.mod-nav{
    display: flex;
    flex-direction: column;
    background-color: var(--interactive-accent);
    color:var(--text-on-accent);
    border: 2px solid white;
    margin:4px;
    border-radius: 8px;
    padding: 8px;
}

.but-right .mod-nav{
    align-items: end;
}

.mod-nav > p{
    margin: 0;
}

.mod-nav > p:last-child {
    font-size: 1.5em;
    font-weight: 600;
}

.but-left{
    display: flex;
    justify-content: flex-start;
}

.but-right{
    display: flex;
    justify-content: flex-end;
}




